<div class="container">
  <div class="row">
    <div class="col-md-12">
        <div class='row'>
          <div class='col-md-10 offset-1'>  
          <h1> All Articles</h1>
          <%= link_to "New Article", new_article_path, class: "btn btn-default", id: "new-article-btn" %>
          
          <% @articles.each do |article| %>
            <div class="well well-lg">
              <div class="article-title">
                <%= link_to article.title, article_path(article) %>
              </div>
              <div class="article-body">
                <%= truncate(article.body, lenght: 300) %>
              </div>
              <div class="author">
                <% if article.user %>
                  <small>Created by: <%= article.user.first_name %></small>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</container>    
