@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Lato);

body {
  padding-top: 60px;
  background: #8F1D21;
  color: white;
  font-family: 'Lato', sans-serif;
}

h2 {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.article-title, .article-body {
  padding-left: 0.7em;
}

.article-body {
  font-size: 1em;
  color: black !important;
}

.article-title {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 1em;
}

#new-article-btn {
  margin-bottom: 10px;
}

#article-date {
  margin-bottom: 40px;
}

.article-detail-title {
  font-size: 4em;
  margin-bottom: 40px;
}

.btn-space {
  margin-top: 20px;
}

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-alert {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
  text-align: left;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

.author {
  padding-top: 15px;
  padding-left: 15px;
  font-style: italic;
}

.comment-body, .comment-time {
  margin-left: 2em;
}

.comment-body {
  font-size: x-large;
}

.comment-time {
  font-style: italic;
  font-size: large;
}

.btn-space {
  margin-top: 20px;
  margin-left: 10px;
}

.alert-error {
  background-color: #C3272B;
  border-color: #C3272B;
  color: white;
  text-align: center;
}

.alert-alert {
  background-color: #59ABE3;
  border-color: #59ABE3;
  color: white;
  text-align: center;
}

.alert-success {
  background-color: #26A65B;
  border-color: #26A65B;
  color: white;
  text-align: center;
}

.alert-notice {
  background-color: #F9690E;
  border-color: #F9690E;
  color: white;
  text-align: center;
}